body{
    font-family: tahoma, arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

#principal{
    width: 100%;
    margin: auto;
}

.logotipo{
    margin: 15px 0 0 135px;
    visibility: initial;
    
}
header{
    height: 100px;
    background: #0d1216;
    position: relative;
}
header nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    display: inline-block;
    background: #0d1216;
    margin: 15px 10px 0 0;
    padding: 6px 8px 6px 8px; 
    border-style: solid;
    text-transform: uppercase;
  }
ul a{
    text-decoration: none;
    color:white;
}  
  li:nth-child(4){
      padding: 12px;
      border-radius: 0.5em;
      margin: 25px 15px 0 0;
      background-color: rgba(0, 255, 0, 0.904);
      text-decoration-color:black;
      border-style: none;
  }
.content-section{
    width: 50%;
    margin-left: 20px;
}
article:nth-child(1){
    margin-top: 50px ;
}
article:nth-child(2){
    margin-top: 75px ;
}

footer{
    position: fixed;
    width: 100%;
    background-color: rgba(6, 7, 6, 0.61);
    bottom: 0px;
}
footer p{
    color: aliceblue;
    padding-left: 42%;
}
