body{
    font-family: tahoma, arial, sans-serif;
    padding: 0;
    background-color: #ccc;
  
}

div#principal{
    width: 100%;
}

.logotipo{
    margin: 15px 0 0 135px;
    visibility: initial;
    
}

header{
    height: 100px;
    background: #0d1216;
    position: relative;
}

header nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    display: inline-block;
    background: #0d1216;
    margin: 15px 10px 0 0;
    padding: 6px 8px 6px 8px; 
    text-transform: uppercase;
}

ul a{
    text-decoration: none;
    color:white;
}  

div#agendamento{
    padding: 12px;
    border-radius: 0.5em;
    margin: 25px 15px 0 0;
    background: rgba(0, 255, 0, 0.904);
    text-decoration-color:black;
    border-style: none;
    display: inline-block;
    text-transform: uppercase;
}

img.avatar{
    width: 100%;
    height: auto;
}
div#avatares{
    display: inline;
    text-align: center;
}
.avatar{
    display: inline-block;
    border: solid 1px;
    margin: 12% 0 0 18%;
    border-radius: 50%;
    overflow: hidden;
}

footer{
    position: fixed;
    width: 100%;
    background-color: rgba(6, 7, 6, 0.61);
    bottom: 0px;
}

footer p{
    color: aliceblue;
    text-align: center;
}
