body{
    font-family: tahoma, arial, sans-serif;
    padding: 0;
    background-color: #ccc;
    width: 100%;
    position: relative;
}

.logotipo{
    margin: 10px 0 0 100px;
    visibility: initial;
}

header{
    height: 120px;
    background: #0d1216;
    position: relative;
    display: block;
}

header nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    display: inline-block;
    background: #0d1216;
    margin: 45px 10px 0 0;
    padding: 6px 8px 6px 8px; 
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color:white;
    
    
}
a.menu{
    text-decoration: none;
    color:white;
    font-size: 12pt;
    letter-spacing: 3px;
    transition: color .3s linear;
    font-weight: bold;
}  
 a:hover{
    color:rgba(87, 87, 87, 0.561);
}

div#agendamento{
    padding: 12px;
    border-radius: 0.5em;
    margin: 25px 15px 0 0;
    background: rgba(0, 255, 0, 0.904);
    text-decoration-color:black;
    border-style: none;
    display: inline-block;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14pt;
}

section{
    width: 50%;
    background: green;
    text-align: center;
    border: 3px solid transparent ;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
    display:block;      
}

section#section-home{
    text-align: left;
    background: rgba(5, 5, 5, 0.74);  
    display:block;
    position: relative;
}

div#img-home{
    width: 100%;
    background-image: url(../image/WhatsApp\ Image\ 2020-11-24\ at\ 11.50.25.jpeg);
    background-size: cover;
    display: block;
    padding: 15px;
}

div#content-home{
    background: #0d1216;
    width: 100%;
    height: 60px;
    position: relative;
    display: block;
}

article {
    display: block;
    padding: 30px;
    text-align: left;
    width: 50%;
       
}

h1{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
h2{
    margin: 0;
    color: rgba(5, 5, 5, 0.74); 
    font-size: 18pt;
    font-weight: bold;

}
p#home-p{
    color: white;
    font-size: 22pt;
    font-weight: bold;
}

div#extern-maps{
    background-image: url(../image/WhatsApp\ Image\ 2020-11-24\ at\ 11.49.48.jpeg);
    width: 100%;
    background-size: cover;
    display: block;
    position: relative;
    
    
         
}
div#maps{
    text-align: center;
    display: block;
    position: relative;
    padding: 50px;
    

}
div#maps p{
    font-weight: bold;
    
}

div#atendimento{
    position: relative;
    display: block;
    
}
div#atendimento p {
    margin: auto;
    width: 30%;
    color: rgba(5, 5, 5, 0.74); 
    font-size: 18pt;
    font-weight: bold;
}

iframe{
    margin-top: 50px;
    position: relative;
        
}


footer{
    position: fixed;
    width: 100%;
    background-color: rgba(6, 7, 6, 0.61);
    bottom: 0px;
}

footer p{
    color: aliceblue;
    text-align: center;
}
